name = "digitaldemocracy-iraq"
compatibility_date = "2024-11-04"

[build]
command = "npm install && npm run build"

[build.environment]
NODE_VERSION = "20"
NEXT_PUBLIC_API_BASE_URL = "https://digitaldemocracy-iraq-production.up.railway.app"

