name = "digitaldemocracy-iraq"
compatibility_date = "2024-01-01"
pages_build_output_dir = ".next"

[env.production]
name = "digitaldemocracy-iraq"
compatibility_date = "2024-01-01"

[build]
command = "npm install && npm run build"

[build.environment]
NODE_VERSION = "20"
