name = "digital-democracy-iraq"
compatibility_date = "2024-11-04"

[pages]
build_command = "npm run build"
output_dir = ".open-next/cloudflare"

# For environment variables, use:
# [env.production.vars]
# MY_VARIABLE = "value"
